Source: sidux-xdg
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-xdg/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-xdg/trunk/

Package: sidux-xdg
Architecture: all
Depends: 
Conflicts: sidux-menu
Description: sidux xdg menu system
 basic defintions for freedesktop XDG integration.
